<mat-toolbar color="primary">
  <a [routerLink]="['/']" class="title-link">{{ homeData.title }}</a>
  <span class="spacer"></span>
  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Search products</mat-label>
    <input matInput (input)="filterProducts($event)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <span class="spacer"></span>
  <button mat-icon-button (click)="goToCart()">
    <mat-icon>shopping_cart</mat-icon>
    <span *ngIf="cartQuantity > 0" class="cart-quantity">{{ cartQuantity }}</span>
  </button>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<div class="product-list">
  <div class="product-list-container">
    
    <div class="product-grid">
      <div *ngFor="let product of filteredProducts" class="product-item">
        <div class="product-details">
          <h3>{{ product.name }}</h3>
          <p>Price: ${{ product.price }}</p>
          <p>Description: {{ product.description }}</p>
          <img [src]="product.image" alt="{{ product.name }}">
          <button [disabled]="product.Quantity === 0" (click)="addToCart(product.id)">Add to cart</button>
          <p *ngIf="product.Quantity === 0" style="color: red;">Out of Stock</p>
          <p *ngIf="product.Quantity > 0 && product.Quantity < 5" style="color: orangered;">Hurry up, only {{ product.Quantity }} left!</p>
        </div>
      </div>
    </div>
  </div>
</div>